**/__pycache__
src/logs/*
.spyproject
.ipynb_checkpoints
MetaTrader5_TMPL/config_*/cf_*.json
MetaTrader5_TMPL/MQL5/Profiles/Charts/Default
MetaTrader5_TMPL/metaeditor64.exe
MetaTrader5_TMPL/metatester64.exe
MetaTrader5_TMPL/terminal64.exe

