{
   "RF5D01":{
      "path" : "MetaTrader5_RF5D01\\terminal64.exe",
      "login" : 0,
      "password" : "your-password-here",
      "server" : "RoboForex-ECN",
      "portable" : "True"
   },
   "RF5D02":{
      "path" : "MetaTrader5_RF5D02\\terminal64.exe",
      "login" : 0,
      "password" : "your-password-here",
      "server" : "RoboForex-ECN",
      "portable" : "True"
   },
   "RF5D03":{
   
      "path" : "MetaTrader5_RF5D03\\terminal64.exe",
      "login" : 0,
      "password" : "your-password-here",
      "server" : "RoboForex-ECN",
      "portable" : "True"
   },
   "RF5D04":{
      "path" : "MetaTrader5_RF5D03\\terminal64.exe",
      "login" : 0,
      "password" : "your-password-here",
      "server" : "RoboForex-ECN",
      "portable" : "True"
   }
}

