{
   "RF5DX02":{
      "T60":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 60
      },
      "T300":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 300
      },
      "T900":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 900
      },
      "T3600":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 3600
      },
      "M1":{
         "type" : "static",
         "seconds" : 60,
         "minutes" : 1,
         "volume" : 0
      },
      "M5":{
         "type" : "static",
         "seconds" : 300,
         "minutes" : 5,
         "volume" : 0
      },
      "M15":{
         "type" : "static",
         "seconds" : 900,
         "minutes" : 15,
         "volume" : 0
      },
      "H1":{
         "type" : "static",
         "seconds" : 3600,
         "minutes" : 60,
         "volume" : 0
      }
   },
   "RF5DX01":{
      "T134":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 134
      },
      "T233":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 233
      },
      "T367":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 367
      }
   },
   "RF5DX03":{
      "T8":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 8
      },
      "T13":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 13
      },
      "T21":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 21
      },
      "T34":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 34
      },
      "T55":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 55
      },
      "T89":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 89
      },
      "T144":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 144
      },
      "T233":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 233
      }
   },
   "RF5D01":{
      "T1":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 1
      },
      "T2":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 2
      },
      "T3":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 3
      },
      "T4":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 4
      },
      "T5":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 5
      },
      "T6":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 6
      },
      "T7":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 7
      },
      "T8":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 8
      }
   },
   "RF5D02X":{
      "T4":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 4
      },
      "T16":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 16
      },
      "T32":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 32
      },
      "T64":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 64
      },
      "S1":{
         "type" : "static",
         "seconds" : 1,
         "minutes" : 0,
         "volume" : 0
      },
      "S4":{
         "type" : "dynamic",
         "seconds" : 4,
         "minutes" : 0,
         "volume" : 0
      },
      "S8":{
         "type" : "dynamic",
         "seconds" : 8,
         "minutes" : 0,
         "volume" : 0
      },
      "S16":{
         "type" : "dynamic",
         "seconds" : 16,
         "minutes" : 0,
         "volume" : 0
      }
   },
   "RF5D03":{
      "T1":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 1
      },
      "T2":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 2
      },
      "T3":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 3
      },
      "T4":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 4
      },
      "T5":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 5
      },
      "T6":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 6
      },
      "T7":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 7
      },
      "T8":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 8
      }
   },
   "RF5D02":{
      "T1":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 1
      },
      "T5":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 5
      },
      "T15":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 15
      },
      "T60":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 60
      }
   },
   "RX2":{
      "T8":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 8
      },
      "T13":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 13
      },
      "T21":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 21
      },
      "T34":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 34
      },
      "T55":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 55
      },
      "T89":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 89
      },
      "T144":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 144
      },
      "T233":{
         "type" : "dynamic",
         "seconds" : 0,
         "minutes" : 0,
         "volume" : 233
      }
   }
}

