{
   "RFX-ECN":{
      "PID1":{
         "name":"P",
         "KP":1,
         "KI":0,
         "KD":0
      },
      "PID2":{
         "name":"I",
         "KP":0,
         "KI":0.01,
         "KD":0
      },
      "PID3":{
         "name":"D",
         "KP":0,
         "KI":0,
         "KD":1
      },
      "PID4":{
         "name":"PID",
         "KP":1,
         "KI":0.01,
         "KD":1
      }
   },
   "RF5D01":{
      "PID1":{
         "name":"P",
         "KP":1,
         "KI":0,
         "KD":0
      },
      "PID2":{
         "name":"I",
         "KP":0,
         "KI":0.1,
         "KD":0
      },
      "PID3":{
         "name":"D",
         "KP":0,
         "KI":0,
         "KD":1
      },
      "PID4":{
         "name":"PID",
         "KP":1,
         "KI":0.1,
         "KD":1
      }
   },
   "RF5D02":{
      "PID1":{
         "name":"P",
         "KP":1,
         "KI":0,
         "KD":0
      },
      "PID2":{
         "name":"I",
         "KP":0,
         "KI":0.1,
         "KD":0
      },
      "PID3":{
         "name":"D",
         "KP":0,
         "KI":0,
         "KD":1
      },
      "PID4":{
         "name":"PID",
         "KP":1,
         "KI":0.1,
         "KD":1
      }
   },
   "RF5D03":{
      "PID1":{
         "name":"P",
         "KP":1,
         "KI":0,
         "KD":0
      },
      "PID2":{
         "name":"I",
         "KP":0,
         "KI":0.1,
         "KD":0
      },
      "PID3":{
         "name":"D",
         "KP":0,
         "KI":0,
         "KD":1
      },
      "PID4":{
         "name":"PID",
         "KP":1,
         "KI":0.1,
         "KD":1
      }
   }
}

