{
   "RF5DX01":{
      "BTCUSD":{
         "points" : 100,
         "digits" : 0,
         "format" : "0"
      },
      "AUDCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "AUDCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "AUDJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "AUDNZD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "AUDUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "CADCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "CADJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "CHFJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "EURAUD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURGBP":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "EURNZD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPAUD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "GBPNZD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "NZDCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "NZDCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "NZDJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "NZDUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "USDCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "USDCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "USDJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      }
   },
   "RF5DX02":{
      "AUDCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "AUDCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "AUDJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "AUDNZD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "AUDUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "CADCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "CADJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "CHFJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "EURAUD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURGBP":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "EURNZD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "EURUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPAUD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "GBPNZD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "GBPUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "NZDCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "NZDCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "NZDJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      },
      "NZDUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "USDCAD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "USDCHF":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      },
      "USDJPY":{
         "points" : 0.001,
         "digits" : 3,
         "format" : "0.00000"
      }
   },
   "RF5D01":{
      "EURUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      }
   },
   "RF5D02":{
      "EURUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      }
   },
   "RF5D03":{
      "EURUSD":{
         "points" : 0.00001,
         "digits" : 5,
         "format" : "0.00000"
      }
   }
}

